
:root{
    --accent-color: #4183D7;
    --background-color: linear-gradient(135deg, #FF8CBA 0%, #BDB9E8 100%);
    --light-background: #333;
    --text-color: #F8F8F8;
    --chatbox-color: #555;
}


body{
    font-family: sans-serif;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: var(--text-color);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #2E2E2E;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    height: 80vh;
    width: 40vw;
    max-height: 80%;
    margin: 20px;
    padding: 40px;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
}


.header{
    display: flex;
    align-items: center;
    margin: 20px;
    color: var(--accent-color);
}

.header .avatar{
    background-color: var(--accent-color);
    align-self: center;
    padding: 5px;
    width: 50px;
    border-radius: 50%;
    animation: pulseAvatar 1.5s infinite;
}

@keyframes pulseAvatar {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}


.header h3{
    margin-left: 20px;
    margin-right: auto;
