
:root{
    --accent-color: #4183D7;
    --background-color: linear-gradient(135deg, #FF8CBA 0%, #BDB9E8 100%);
    --light-background: #333;
    --text-color: #F8F8F8;
    --chatbox-color: #555;
}


body{
    font-family: sans-serif;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
